<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
    content="width=device-width, initial-scale=1 maximum-scale=1.0, user-scalable=0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">
    <title>Anonbot WL</title>
    <link href="../public/style.css" rel="stylesheet">
  </head>
  <body>
    <h3>You have been IPbanned from Anonbot!</h3>
    <p>You've broken one or more <a href="https://github.com/MatthewStanciu/Anonbotv2/blob/master/README.md#Rules" target="_blank">Anonbot rules</a>.
      Please @anonbot.wl on Instagram or text (765) 409-3260 if you believe this is an error and/or wish to be unbanned.</p>
  </body>
</html>
