<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Anonbot WL</title>
    <link href="../public/style.css" rel="stylesheet">
  </head>
  <body>
    <div id="commentheader">
      <h1>Comment on a post</h1>
    </div>
    <form action="/comm" method="post" id="f" class="f">
      <input id="key" name="url" type="text" placeholder="Enter the post url">
      <br/>
      <textarea id="m" name="anon" type="text" cols="36" rows ="7" placeholder="Comment something..." autofocus></textarea>
    </form>
    <button type="submit" form="f" class="btn btn-lg btn-default"><strong>Submit</strong></button>
  </body>
</html>
