<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
    content="width=device-width, initial-scale=1 maximum-scale=1.0, user-scalable=0">
    <title>WL Anonbot</title>
    <link href="../public/style.css" rel="stylesheet">
  </head>
  <body>
    <h2>Delete a post</h2>
    <form action="/delpost" method="post" id="d" class="d">
      <input id="link" name="url" type="text" placeholder="Enter the link of the post" autofocus>
      <input id="key" name="key" type="text" placeholder="Enter the mod key">
    </form>
    <button type="submit" form="d"><strong>Submit</strong></button>
  </body>
</html>
