<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1.0, user-scalable=0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Anonbot WL</title>
    <link href="../public/style.css" rel="stylesheet">
  </head>
  <body>
    <h1>Anonbot WL</h1>
    <form action="/submission" method="post" id="f" class="f">
      <textarea id="m" name="anon" type="text" cols="36" rows ="7" placeholder="Say something..." autofocus></textarea>
    </form>
    <button type="submit" form="f" onclick="this.disabled=true;this.value='Submitting...'; this.form.submit();">
      <strong>Submit</strong></button>
    <a href="https://anonbotwl.glitch.me/respond"><p>Want to anonymously respond to a post instead?</p></a>
    <br/>
    <a href="https://github.com/MatthewStanciu/Anonbotv2" target="_blank"><p>View code on GitHub</p></a>

    <div id="faqButtonContainer">
         <button type="button" v-on:click="faqDialog">FAQ</button>
    </div>

    <div id="faqDialog" v-bind:style="{marginLeft: marginLeft}" v-bind:click-outside="toggleDialog">
         <div class="faq-entry">
              <h1>Test</h1>
              <p>Test Text</p>
         </div>
         <div class="faq-entry">
              <h1>Test</h1>
              <p>Test Text</p>
         </div>
         <div class="faq-entry">
              <h1>Test</h1>
              <p>Test Text</p>
         </div>
         <div class="faq-entry">
              <h1>Test</h1>
              <p>Test Text</p>
         </div>
    </div>
    <div id="snackbar">You can only comment on Anonbot posts!</div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script src="../public/main.js"></script>
  </body>
</html>
