html {
  font-family: 'SourceCodePro';
  font-size: 40px;
  color: white;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display:table;
}
body {
  display: table-cell;
  vertical-align:middle;
  background: linear-gradient(-45deg, #7a0000, #606060, #151515);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
}
h1 {
  margin-top: -10px;
  font-family: 'SourceCodeProBold';
  font-weight: 500;
}
h4, h2 {
  font-family: 'SourceCodeProBold';
  font-weight: 500;
}
p {
  font-size: 15px;
}
a {
  color: white;
}
textarea {
  border-radius: 25px;
  border: 2px solid #191414;
  padding: 15px;
  width: 300px;
  height: 60px;
  font-family: 'SourceCodePro';
}
input {
  border-radius: 25px;
  border: 2px solid #191414;
  padding: 15px;
  width: 200px;
  height: 5px;
  font-family: 'SourceCodePro';
}
button {
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border: 2px solid #191414;
  width: 115px;
  height: 40px;
}

@-webkit-keyframes AnimationName {
   0%{background-position:0% 50%}
   50%{background-position:100% 50%}
   100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
   0%{background-position:0% 50%}
   50%{background-position:100% 50%}
   100%{background-position:0% 50%}
}
@keyframes AnimationName {
   0%{background-position:0% 50%}
   50%{background-position:100% 50%}
   100%{background-position:0% 50%}
}

#snackbar {
    visibility: hidden;
    font-size: 15px;
    min-width: 50px;
    background-color: #FFF;
    color: #333;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    right: 25%;
    left: 25%;
    top: 30px;
}
/*Snackbar for if user comments on the wrong post*/
#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
}

@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
}

@keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
}

@font-face {
  font-family: 'SourceCodePro';
  src: url('https://cdn.glitch.com/3269c758-900f-4003-a9b7-a3d1b265644c%2FSourceCodePro-Regular.ttf?1535915943477');
}
@font-face {
  font-family: 'SourceCodeProBold';
  src: url('https://cdn.glitch.com/3269c758-900f-4003-a9b7-a3d1b265644c%2FSourceCodePro-Bold.ttf?1535920143884');
}
